.paperBlock {
  height: calc(100vh - 130px);
}

.gridBlock {
  padding-top: 20px;
}

.leftBlock {
  padding-right: 10px;
  padding-left: 20px;
}

.rightBlock {
  padding-right: 20px;
  padding-left: 10px;
}

.rightButton {
  margin-right: 20px!important;
}

.avatarBlock {
  width: 150px!important;
  height: 150px!important;
  margin: 0 auto 20px;
}